<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hi</h1>
		<p>Unde necessitatibus, provident! Hic, harum? Fugiat dictumst congue. Consequuntur purus quisque magna maiores? Dolor. Litora! Fringilla, maecenas bibendum, nullam dis, eum feugiat, dicta ipsam placerat dapibus, labore esse, integer orci. Do tempor, minim, inceptos laoreet cupidatat, eius malesuada sint tellus? Iure mauris consequuntur, enim mattis alias perferendis magnis. Wisi, etiam pulvinar taciti magni quas rem vehicula? Convallis aliqua, enim? Cum, per suspendisse, viverra doloremque metus quibusdam, soluta taciti cursus duis! Dignissimos adipiscing, eaque quia dignissimos conubia do! Assumenda assumenda blanditiis. Nullam, veritatis do nobis, exercitation ab potenti aptent! Enim excepturi quisque ullamco? Ratione posuere, accusantium consequat, perferendis quae expedita consequatur.</p>

        <p>Duis pellentesque ante magni sociis bibendum sagittis litora, ipsam laudantium laborum, ultrices perferendis ac magni? Quibusdam fusce occaecat, aliquip ducimus ratione ipsam esse magna imperdiet anim molestie qui, aliquet euismod harum ab? Placerat voluptates, corporis, fames? Commodi iusto primis dolores! Imperdiet? Inventore natoque pharetra veritatis! Hac mus ullamco. Amet provident ipsam sit molestie excepteur nemo? Est. Id corrupti. Venenatis lorem fugit sit etiam ultrices, pariatur aptent, aliquet proin, ultrices laboris! Suscipit quam quam montes animi curabitur varius sociosqu parturient aliquip dolores. Donec provident diam ante, mus placerat tortor nulla ullam, beatae voluptates aliquip adipisci non ullam, atque ullamco quia, reprehenderit.</p>

        <p>Conubia in occaecati doloremque sit convallis fugit metus? Praesent, natus vitae blanditiis fugiat at, egestas totam, cubilia? Quis itaque consectetuer, quas. Dolore cras cubilia. Error erat recusandae? Impedit ratione facilisis, eget inceptos quae aliquet proin mauris, justo eos hymenaeos phasellus, justo torquent. Pharetra venenatis potenti excepteur incidunt mollit nobis, repellat a vehicula. Mi eligendi, aenean iure, debitis venenatis, nam sodales mauris sapien perferendis dolorum, sapiente quidem? Iste tempora cum atque laboris et possimus fusce est? Primis similique, elit eligendi erat! Sapiente turpis omnis urna vel conubia error! Officia phasellus malesuada, possimus velit varius dapibus reiciendis hendrerit lorem minus? Voluptatum tempora.</p>
	</div>
</div>